
  <div
    class="flex phone:justify-around phone:flex-col-reverse tablet:flex-row phone:items-center"
  >
    <div class="tablet:ml-24 phone:mt-14">
     <img
  src="assets/img/suraj.jpg"
  alt="profilPicture"
  class="max-w-96 max-h-96 phoneL:h-80 phone:h-72"
/>
    </div>
    <div
      class="phone:text-h2 phoneL:text-h1 tablet:mr-24 phone:mx-2 phoneL:mx-0 font-bold"
    >
      <p class="mt-10">Hi, welcome to my portfolio.</p>
      <p class="mt-10">I'm Suraj Yadav a Java full stack developer.</p>
      <p class="mt-10">I'm {{ age }} years-old.</p>
    </div>
  </div>
  <div
    class="flex phone:justify-around phone:flex-col tablet:flex-row tablet:mb-56 phone:items-center"
  >
    <div
      class="phone:text-h2 phoneL:text-h1 tablet:ml-24 font-bold max-w-[50rem] phone:mx-2 phoneL:mx-0"
    >
      <p class="mt-10">I live in New delhi in India.</p>

      <p class="mt-10">
        I'm currently looking for a job and open to all opportunities.
      </p>
    </div>
    <div
      class="earth phoneL:h-124 phoneL:w-124 phone:w-96 phone:h-96 tablet:mr-24 phone:mt-14"
    >
      <app-earth
        class="flex items-center justify-center phoneL:mt-24"
      ></app-earth>
    </div>
  </div>
  <!-- FLOATING BUTTON -->
<div class="fixed bottom-6 right-6 z-50">
  <span class="pulse-ring"></span>

  <button
    (click)="toggleChat()"
    class="bg-mainPurple text-white p-4 rounded-full shadow-lg hover:scale-110 transition"
  >
    🤖
  </button>
</div>

<!-- POPUP CHAT -->
<div *ngIf="isChatOpen" class="fixed bottom-20 right-6 w-80 bg-black dark:bg-gray-800 shadow-xl rounded-xl p-4">

  <div class="flex justify-between items-center mb-3">
    <h3 class="font-bold">Ask Suraj 🤖</h3>
    <button (click)="toggleChat()">❌</button>
  </div>

  <input
    type="text"

    (keyup.enter)="askAI()"
    placeholder="Ask something..."
    class="w-full p-2 border rounded mb-3 dark:bg-black-700 dark:text-black"
  />

  <button
    (click)="askAI()"
    class="w-full bg-mainPurple text-black py-2 rounded"
  >
    Ask
  </button>

  <div *ngIf="aiResponse" class="mt-3 p-2 bg-black-900 dark:bg-black-700 rounded">
    {{ aiResponse }}
  </div>



</div>
